<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    footer {
        text-align: center;
        padding: 3px;
        background-color: #17a2b8!important;
        color: white;
        font-size: 21px;
    }
</style>
<footer><br>
    <p> &#169; 2021 News & Weather Update</p>


    <a href="https://www.linkedin.com/" style="color: white;"><i class="fa fa-linkedin"></i></a>

    <a href="https://www.facebook.com/" style="color: white;"><i class="fa fa-facebook-f"></i></a>


    <a href="https://www.twitter.com/" style="color: white;"><i class="fa fa-twitter"></i></a>

    <a href="https://www.instagram.com/" style="color: white;"><i class="fa fa-instagram"></i></a><br><br>


</footer>